Monster.Acumatica.Http/Web References/BankImportApi/BANKIMPORT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.acumatica.com/generic/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.acumatica.com/generic/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.acumatica.com/generic/">
      <s:complexType name="ProcessResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ProcessStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Seconds" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProcessStatus">
        <s:restriction base="s:string">
          <s:enumeration value="NotExists" />
          <s:enumeration value="InProcess" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Aborted" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetScenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scenario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScenarioResult" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Command" nillable="true" type="tns:Command" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Command">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="Commit" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IgnoreError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedCommand" type="tns:Command" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptor" type="tns:ElementDescriptor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ElementDescriptor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsDisabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsRequired" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="String" name="ElementType" type="tns:ElementTypes" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="LengthLimit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InputMask" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayRules" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowedValues" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ElementTypes">
        <s:restriction base="s:string">
          <s:enumeration value="String" />
          <s:enumeration value="AsciiString" />
          <s:enumeration value="StringSelector" />
          <s:enumeration value="ExplicitSelector" />
          <s:enumeration value="Number" />
          <s:enumeration value="Option" />
          <s:enumeration value="WideOption" />
          <s:enumeration value="Calendar" />
          <s:enumeration value="Action" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SchemaMode">
        <s:restriction base="s:string">
          <s:enumeration value="Basic" />
          <s:enumeration value="Detailed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EveryValue">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Key">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Action">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Value">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="IsError" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Answer">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RowNumber">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="NewRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DeleteRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="tns:Filter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Filter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Field" type="tns:Field" />
          <s:element minOccurs="1" maxOccurs="1" name="Condition" type="tns:FilterCondition" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Operator" type="tns:FilterOperator" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FilterCondition">
        <s:restriction base="s:string">
          <s:enumeration value="Equals" />
          <s:enumeration value="NotEqual" />
          <s:enumeration value="Greater" />
          <s:enumeration value="GreaterOrEqual" />
          <s:enumeration value="Less" />
          <s:enumeration value="LessOrEqual" />
          <s:enumeration value="Contain" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="NotContain" />
          <s:enumeration value="Between" />
          <s:enumeration value="IsNull" />
          <s:enumeration value="IsNotNull" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FilterOperator">
        <s:restriction base="s:string">
          <s:enumeration value="And" />
          <s:enumeration value="Or" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:ErrorCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Session" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ErrorCode">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="INVALID_CREDENTIALS" />
          <s:enumeration value="INTERNAL_ERROR" />
          <s:enumeration value="INVALID_API_VERSION" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetBusinessDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBusinessDateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetLocaleName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="localeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLocaleNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetSchemaMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="tns:SchemaMode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchemaModeResponse">
        <s:complexType />
      </s:element>
      <s:complexType name="CA306500Content">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Actions" type="tns:CA306500Actions" />
          <s:element minOccurs="0" maxOccurs="1" name="CashAccount" type="tns:CA306500CashAccount" />
          <s:element minOccurs="0" maxOccurs="1" name="Details" type="tns:CA306500Details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CA306500Actions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CancelCloseToList" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveCloseToList" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Save" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Cancel" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Insert" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Delete" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CopyDocumentCopyPaste" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="PasteDocumentCopyPaste" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveTemplateCopyPaste" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="First" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Previous" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Next" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Last" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="UploadFile" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Unhide" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Unmatch" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewDoc" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ResetListNavigation" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveLoc" type="tns:Action" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CA306500CashAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CashAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNbr" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="StatementDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="StartBalanceDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EndBalanceDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="BeginningBalance" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EndingBalance" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CalculatedBalance" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:CA306500CashAccountServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CA306500CashAccountServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyCashAccount" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="EveryCashAccount" type="tns:EveryValue" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyReferenceNbr" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="EveryReferenceNbr" type="tns:EveryValue" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CA306500Details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentMatched" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Processed" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Hidden" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtTranID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtRefNbr" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="TranDesc" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="TranCode" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Receipt" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Disbursement" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNbr" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AppliedRule" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PayeeName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EntryTypeID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentMethod" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="BusinessAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="BusinessAccountName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Module" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteText" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:CA306500DetailsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CA306500DetailsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CA306500PrimaryKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CashAccount" type="tns:Value" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNbr" type="tns:Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="CA306500Clear">
        <s:complexType />
      </s:element>
      <s:element name="CA306500ClearResponse">
        <s:complexType />
      </s:element>
      <s:element name="CA306500GetProcessStatus">
        <s:complexType />
      </s:element>
      <s:element name="CA306500GetProcessStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProcessStatusResult" type="tns:ProcessResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CA306500GetSchema">
        <s:complexType />
      </s:element>
      <s:element name="CA306500GetSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchemaResult" type="tns:CA306500Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CA306500SetSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schema" type="tns:CA306500Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CA306500SetSchemaResponse">
        <s:complexType />
      </s:element>
      <s:element name="CA306500Export">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="1" maxOccurs="1" name="topCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includeHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CA306500ExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CA306500Import">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="includedHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnIncorrectTarget" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CA306500ImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportResult" type="tns:CA306500ArrayOfImportResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CA306500ImportResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Processed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Keys" type="tns:CA306500PrimaryKey" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CA306500ArrayOfImportResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportResult" nillable="true" type="tns:CA306500ImportResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="CA306500Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CA306500ArrayOfContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Content" nillable="true" type="tns:CA306500Content" />
        </s:sequence>
      </s:complexType>
      <s:element name="CA306500SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitResult" type="tns:CA306500ArrayOfContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetScenarioSoapIn">
    <wsdl:part name="parameters" element="tns:GetScenario" />
  </wsdl:message>
  <wsdl:message name="GetScenarioSoapOut">
    <wsdl:part name="parameters" element="tns:GetScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapIn">
    <wsdl:part name="parameters" element="tns:SetBusinessDate" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapOut">
    <wsdl:part name="parameters" element="tns:SetBusinessDateResponse" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapIn">
    <wsdl:part name="parameters" element="tns:SetLocaleName" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapOut">
    <wsdl:part name="parameters" element="tns:SetLocaleNameResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchemaMode" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchemaModeResponse" />
  </wsdl:message>
  <wsdl:message name="CA306500ClearSoapIn">
    <wsdl:part name="parameters" element="tns:CA306500Clear" />
  </wsdl:message>
  <wsdl:message name="CA306500ClearSoapOut">
    <wsdl:part name="parameters" element="tns:CA306500ClearResponse" />
  </wsdl:message>
  <wsdl:message name="CA306500GetProcessStatusSoapIn">
    <wsdl:part name="parameters" element="tns:CA306500GetProcessStatus" />
  </wsdl:message>
  <wsdl:message name="CA306500GetProcessStatusSoapOut">
    <wsdl:part name="parameters" element="tns:CA306500GetProcessStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CA306500GetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:CA306500GetSchema" />
  </wsdl:message>
  <wsdl:message name="CA306500GetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:CA306500GetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="CA306500SetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:CA306500SetSchema" />
  </wsdl:message>
  <wsdl:message name="CA306500SetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:CA306500SetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="CA306500ExportSoapIn">
    <wsdl:part name="parameters" element="tns:CA306500Export" />
  </wsdl:message>
  <wsdl:message name="CA306500ExportSoapOut">
    <wsdl:part name="parameters" element="tns:CA306500ExportResponse" />
  </wsdl:message>
  <wsdl:message name="CA306500ImportSoapIn">
    <wsdl:part name="parameters" element="tns:CA306500Import" />
  </wsdl:message>
  <wsdl:message name="CA306500ImportSoapOut">
    <wsdl:part name="parameters" element="tns:CA306500ImportResponse" />
  </wsdl:message>
  <wsdl:message name="CA306500SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:CA306500Submit" />
  </wsdl:message>
  <wsdl:message name="CA306500SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:CA306500SubmitResponse" />
  </wsdl:message>
  <wsdl:portType name="ScreenSoap">
    <wsdl:operation name="GetScenario">
      <wsdl:input message="tns:GetScenarioSoapIn" />
      <wsdl:output message="tns:GetScenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <wsdl:input message="tns:SetBusinessDateSoapIn" />
      <wsdl:output message="tns:SetBusinessDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <wsdl:input message="tns:SetLocaleNameSoapIn" />
      <wsdl:output message="tns:SetLocaleNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <wsdl:input message="tns:SetSchemaModeSoapIn" />
      <wsdl:output message="tns:SetSchemaModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CA306500Clear">
      <wsdl:input message="tns:CA306500ClearSoapIn" />
      <wsdl:output message="tns:CA306500ClearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CA306500GetProcessStatus">
      <wsdl:input message="tns:CA306500GetProcessStatusSoapIn" />
      <wsdl:output message="tns:CA306500GetProcessStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CA306500GetSchema">
      <wsdl:input message="tns:CA306500GetSchemaSoapIn" />
      <wsdl:output message="tns:CA306500GetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CA306500SetSchema">
      <wsdl:input message="tns:CA306500SetSchemaSoapIn" />
      <wsdl:output message="tns:CA306500SetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CA306500Import">
      <wsdl:input message="tns:CA306500ImportSoapIn" />
      <wsdl:output message="tns:CA306500ImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CA306500Export">
      <wsdl:input message="tns:CA306500ExportSoapIn" />
      <wsdl:output message="tns:CA306500ExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CA306500Submit">
      <wsdl:input message="tns:CA306500SubmitSoapIn" />
      <wsdl:output message="tns:CA306500SubmitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScreenSoap" type="tns:ScreenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScenario">
      <soap:operation soapAction="http://www.acumatica.com/generic/GetScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.acumatica.com/generic/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.acumatica.com/generic/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap:operation soapAction="http://www.acumatica.com/generic/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap:operation soapAction="http://www.acumatica.com/generic/SetLocaleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap:operation soapAction="http://www.acumatica.com/generic/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500Clear">
      <soap:operation soapAction="http://www.acumatica.com/generic/CA306500/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500GetProcessStatus">
      <soap:operation soapAction="http://www.acumatica.com/generic/CA306500/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500GetSchema">
      <soap:operation soapAction="http://www.acumatica.com/generic/CA306500/GetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500SetSchema">
      <soap:operation soapAction="http://www.acumatica.com/generic/CA306500/SetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500Export">
      <soap:operation soapAction="http://www.acumatica.com/generic/CA306500/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500Import">
      <soap:operation soapAction="http://www.acumatica.com/generic/CA306500/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500Submit">
      <soap:operation soapAction="http://www.acumatica.com/generic/CA306500/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScreenSoap12" type="tns:ScreenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScenario">
      <soap12:operation soapAction="http://www.acumatica.com/generic/GetScenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.acumatica.com/generic/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.acumatica.com/generic/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SetLocaleName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500Clear">
      <soap12:operation soapAction="http://www.acumatica.com/generic/CA306500/Clear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500GetProcessStatus">
      <soap12:operation soapAction="http://www.acumatica.com/generic/CA306500/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500GetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/generic/CA306500/GetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500SetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/generic/CA306500/SetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500Export">
      <soap12:operation soapAction="http://www.acumatica.com/generic/CA306500/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500Import">
      <soap12:operation soapAction="http://www.acumatica.com/generic/CA306500/Import" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CA306500Submit">
      <soap12:operation soapAction="http://www.acumatica.com/generic/CA306500/Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Screen">
    <wsdl:port name="ScreenSoap" binding="tns:ScreenSoap">
      <soap:address location="http://localhost/AcuInst2/Soap/BANKIMPORT.asmx" />
    </wsdl:port>
    <wsdl:port name="ScreenSoap12" binding="tns:ScreenSoap12">
      <soap12:address location="http://localhost/AcuInst2/Soap/BANKIMPORT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>